{% extends 'bookings/base.html' %}

{% block content %}
    <center>
        <h1>Hello! Bookings For {{ month }} {{ year }}</h1>

        As of {{ time }}
        <br/><br/>
        {{ cal|safe }}
        <br/><br/>
    </center>
    <h3>Bookings This Month:</h3>

    {% if booking_list %}
        {% for booking in booking_list %}
            <div class="card">
                <div class="card-header">
                    {{ booking }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Package: {{ booking.package }}</h5>
                    <p class="card-text">
                    <ul>
                        <li>Date: {{ booking.booking_date }}</li>

                        <li>Package Website: {{ booking.package.web }}</li>
                        <li>Manager: {{ booking.manager }}</li>
                        <li>Description: {{ booking.description }}</li>
                        <li>Attendees:<br/>
                            {% for user in booking.attendees.all %}
                                {{ user }}<br/>
                            {% endfor %}
                        </li>
                    </ul>


                    </p>
                </div>
                {% if user.is_authenticated %}
                    {% if user == booking.manager %}
                        <div class="card-footer text-muted">

                            <a href="{% url 'update-booking' booking.id %}" class="btn btn-outline-secondary btn-sm">Update
                                Booking</a>

                            <a href="{% url 'delete-booking' booking.id %}" class="btn btn-outline-danger btn-sm">Delete
                                Booking</a>

                        </div>
                    {% endif %}
                {% endif %}
            </div>
            <br/>
        {% endfor %}

    {% else %}
        Sorry, no available bookings this month.
    {% endif %}

    <center>
        <br/><br/><br/><br/>
        Copyright (c) {{ current_year }} | Pixel Perfect Studios

    </center>
{% endblock %}